:root {
    --color-primary: #2584ff;
    --color-secondary: #00d0ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-borders: #ccc;
    font-size: 62.5%;
    margin: 1rem;
    font-family: inter;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.plan {
    display: flex;
    justify-content: center;
}

.card {
    color: #fff;
    white-space: nowrap;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px var(--color-borders);
    overflow: hidden;
}

.card--header {
    font-size: 2rem;
    padding: 2rem 3rem;
    margin-top: 0;
}

.card--primary {
    background-color: var(--color-primary);
}

.price {
    font-size: 6rem;
}

.month {
    font-size: 2.4rem;
    font-weight: 200;
    opacity: 0.8;
}

.off {
    background-color: #126de4;
    padding: 0.5rem 1.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 30px;
    margin-left: 5px;
}

.discription {
    font-size: 2rem;
    color: #fff;
    opacity: 0.6;
    font-weight: 200;
    letter-spacing: 1px;
}


ul {
    padding-left: 2rem;
}

li {
    padding-left: 5px;
    list-style-image: url(../Image/tick.svg);
    color: var(--color-headings);
    margin: 3.5rem;
    font-size: 2rem;
    font-weight: 500;
}

.card--btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.card--btn {
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: var(--color-headings);
    color: #fff;
    border: 0;
    width: 80%;
    padding: 2rem;
    border-radius: 40px;
}

@media screen and (min-width:1024px) {
    .plan {
        justify-content: start;
    }

    .card {
        width: 33%;
    }
}