:root {
    --color-primary: #2584ff;
    --color-secondary: #00d0ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-borders: #ccc;
    font-size: 62.5%;
    margin: 1rem;
    font-family: inter;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.testimonial {
    box-shadow: 0 0 20px 10px var(--color-borders);
    margin: 1rem;
    display: grid;
    border-radius: 10px;
}

.quote--img{
position: relative;
}

.quote--img > img {
    width: 100%;
    padding: 5rem;
}

.quote--container {
    display: flex;
    margin-left: 4.5rem;
}

.quote--text {
    font-size: 2.4rem;
    font-style: italic;
    color: #5c5577;
}

.quote--text::before {
    content: open-quote;
}

.quote--text::after {
    content: close-quote;
}

.quote--author {
    font-size: 3rem;
    margin: 0 0 0 1rem;
    color: var(--color-headings);
}

.quote--company {
    color: var(--color-body);
    font-size: 2rem;
    opacity: 0.4;
    margin: 0 0 3rem 0.8rem;
}

.icon--author {
    position: relative;
    top: -10px;
    margin-top: 0.5rem;
    width: 48px;
    height: 48px;
    fill: var(--color-primary);
}

.icon--quote--container {
    display: inline-block;
    position: absolute;
    top: 8rem;
    right: 18px;
    background-color: var(--color-accent);
    width: 64px;
    border-radius: 100%;
}

.icon--quote {
    fill: #fff;
    width: 64px;
    height: 64px;
    padding: 1rem;
}

@media screen and (min-width:768px) {

    .testimonial {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonial > img {
        padding: 5rem;
    }

    .quote--text {
        font-size: 2rem;
    }

    .quote--author {
        font-size: 2.4rem;
    }

    .quote--company {
        font-size: 1.6rem;
    }
}


