:root {
    --color-primary: #2584ff;
    --color-secondary: #00d0ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    font-size: 62.5%;
    margin: 1rem;
    font-family: inter;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.btn {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    text-decoration: none;
    color: #fff;
    padding: 2rem 3rem;
    border-radius: 40px;
    margin-bottom: 1rem;
}

.btn--block {
    cursor: pointer;
}

.btn--primary {
    background-color: var(--color-primary);
}

.btn--primary:hover {
    background-color: #1472eb;
}

.btn--secondary {
    background-color: var(--color-secondary);
}

.btn--secondary:hover {
    background-color: #00bde8;
}

.btn--headings {
    background-color: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
    transition: background-color 0.3s , color 0.3s;
}

.btn--headings:hover {
    background-color: var(--color-headings);
    color: #fff;
}